<template>
<headerC />
<router-view :key="$route.fullPath" />
</template>

<script>
import headerC from "./components/header"
export default {
  name: 'App',
  components: {
    headerC
  },
  setup() {}
}
</script>
