<template>
<Questions />
<Create_Question />
</template>

<script>
import Questions from '../components/questions.vue'
import Create_Question from '../components/create_question.vue'

export default {
  name: "Home",
  components: {
    Questions,
    Create_Question
  }
};
</script>
