<template>
<div class="container has-background-light">
  <div class="hero">
    <div class="hero-body">
      <h1 class="title">Creer une nouvelle question</h1>
      <div class="field">
        <label class="label">Nom de la question</label>
        <div class="control">
          <input type="text" class="input" v-model="question.question_text">
        </div>
      </div>
      <div class="content box">
        <div class="media" v-for="choice in choices" :key="choice">
          <div class="media-content">
            <div class="field has-addons">
              <div class="control is-expanded">
                <input class="input" type="text" v-model="choice.choice_text">
              </div>
              <div class="control">
                <a v-if="choices.length > 1" class="button is-danger" @click="remove_choice(choice)">x</a>
                <a v-else class="button is-danger" disabled>x</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tile">
          <button class="button is-info" @click="add_choice()">Nouvelle reponse</button>
        </div>
      </div>
      <div class="buttons is-centered">
        <button class="button is-success" @click="create_question()">Nouvelle Question</button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {
  useCreateQuestion
} from "../composition/create_question";
import {
  useRouter
} from 'vue-router'

export default {
  name: "Create_Question",
  setup() {
    const router = useRouter()
    const {
      choices,
      success,
      question,
      create_question,
      add_choice,
      remove_choice
    } = useCreateQuestion(router)
    return {
      choices,
      success,
      question,
      create_question,
      add_choice,
      remove_choice
    }
  }
}
</script>
