<template>
<div class="navbar">
  <div class="navbar-brand">
    <h1 class="title">Vote!</h1>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/">Home</a>
    </div>
  </div>
</div>
</template>
