<template>
<section class="section">
  <div class="container">
    <div v-for="question in questions" :key="question" class="media">
      <div class="media-content">
        <div class="content">
          <div class="level">
            <div class="level-item">
              <p>{{FormatDate(question.pub_date)}}</p>
            </div>
            <div class="level-item">
              <router-link :to="{name: 'Question', params: {id: question.id } }" class="button"> Lien </router-link>
            </div>
            <div class="level-item">
              <button class="button is-danger" @click="delete_question(question.id)"> Suprimer </button>
            </div>
          </div>
          <p class="subtitle"> {{question.question_text}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
</template>

<script>
import {
  useFetchList
} from '../composition/questions'
import {
  FormatDate
} from "../helpers/date"

export default {
  setup() {
    const {
      loading,
      error,
      questions,
      delete_question,
    } = useFetchList()
    return {
      loading,
      error,
      questions,
      delete_question,
      FormatDate
    }
  }
}
</script>
