<template>
<section class="section">
  <div class="container">
    <div class="content">
      <button v-if="!edit" class="button" @click="edit = true">Edit</button>
      <button v-else class="button" @click="edit = false">vote</button>
    </div>
    <div class="content">
      <h2 v-if="!edit" class="title has-text-centered">
        {{ question.question_text }}
      </h2>
      <input v-else type="text" class="input is-large" v-model="editData.question_text" />
    </div>
    <div v-if="edit == false">
      <div class="media" v-for="choice in question.choices" :key="choice">
        <div class="media-content">
          <div class="level">
            <div class="level-item">
              {{ choice.choice_text }}
            </div>
            <div class="level-item">
              {{ choice.votes.length }}
            </div>
            <div class="level-item">
              <button class="button" @click="vote(choice.id)" v-if="!choice.voted">
                +
              </button>
              <button class="button is-danger" @click="unvote(choice.id)" v-else>
                -
              </button>
            </div>
          </div>
          <div>
            <progress class="progress" :value="choice.votes.length" :max="total_votes" />
          </div>
        </div>
      </div>
    </div>
    <div v-else class="box has-background-light">
      <div class="media" v-for="choice in editData.choices" :key="choice">
        <div class="media-content">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" v-model="choice.choice_text" />
            </div>
            <div class="control">
              <a v-if="editData.choices.length > 1" class="button is-danger" @click="remove_choice(choice)">x</a>
              <a v-else class="button is-danger" disabled>x</a>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <button class="button is-info" @click="add_choice()">Nouvelle reponse</button>
      </div>
    </div>
    <button v-if="edit" class="button is-success" @click="update">
      Metre a jour
    </button>
  </div>
</section>
</template>

<script>
import {
  useQuestion
} from "../composition/question";
export default {
  props: {
    id: Number,
  },
  setup(props) {
    const {
      loading,
      error,
      data: question,
      vote,
      unvote,
      edit,
      editData,
      add_choice,
      remove_choice,
      update,
      total_votes,
    } = useQuestion(props);
    return {
      loading,
      error,
      question,
      vote,
      unvote,
      edit,
      editData,
      add_choice,
      remove_choice,
      update,
      total_votes,
    };
  },
};
</script>
